.title {
  color: #24478F;
  text-align: center;
}

#upper_content {
  width: 100%;
}

#facebook {
  left: 5%;
  position: absolute;
  width: 43%;
  border: #9A7958 solid 2px;
  padding: 5px;
}

#twitter {
  right: 5%;
  position: absolute;
  width: 43%;
  border: #9A7958 solid 2px;
  padding: 5px;
}

#eval_heading {
  text-align: center;
  position: absolute;
  font-size: 18px;
  width: 100%;
  top: 70%;
  color: white;
  background-color: #24478F;
  padding-top: 3px;
  padding-bottom: 3px;
}

#evaluate {
  border: 0;
  border-radius: 15px;
  background-color: red;
  color: white;
  font-size: 18px;
  width: 30%;
  height: 4%;
  left: 35%;
  top: 78%;
  position: absolute;
}

#scanning_message {
  opacity: 0;
  top: 70%;
  width: 80%;
  left: 10%;
  position: absolute;
  text-align: center;
}

#personality_form {
  opacity: 0;
  top: 70%;
  width: 80%;
  left: 10%;
  position: absolute;
  text-align: center;
}

.bigger_text {
  font-size: 24px;
  color: #24478F;
}