<p>Which attribute would you like Bear Punch to enhance?</p>
<form id="selection">
  <select>
    <option value="intelligence">Intelligence</option>
    <option value="humor">Humor</option>
    <option value="attractiveness">Attractiveness</option>
  </select>
  <span id="enhance_button_holder"></span>
</form>