<h2>We have detected the following deficiencies in your online presence:</h2>
<ul id="deficiency_list">
  <li>Intelligence: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="severe"><strong>SEVERELY LACKING</strong></span></li>
  <li>Humor: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="below_avg">Below Average</span></li>
  <li>Attractiveness: &nbsp;&nbsp;<span class="severe"><strong>SEVERELY LACKING</strong></span></li>
</ul>
<div id="attr_select"><%= erb :attribute_selector %></div>
<!-- add a dropdown menu for focus, and a button to continue; then, on next form (Miya's), say 'Just a few more questions...' and then introduce Autopilot at the end -->