<h1>Define your custom character profile</h1>
<form name="character">
Which best describes your personality? (check all that apply)
<br>
<input type="checkbox" name="personality" value="clever">Clever
<input type="checkbox" name="personality" value="educated">Educated
<input type="checkbox" name="personality" value="dynamic">Dynamic
<input type="checkbox" name="personality" value="protagonist">Protaganistic
<input type="checkbox" name="personality" value="antagonist">Antagonistic
<input type="checkbox" name="personality" value="nurturing">Nuturing
<input type="checkbox" name="personality" value="artistic">Artistic
<input type="checkbox" name="personality" value="idealistic">Idealistic
<input type="checkbox" name="personality" value="visionary">Visionary
<input type="checkbox" name="personality" value="introvert">Introvert
<input type="checkbox" name="personality" value="extrovert">Extrovert
<input type="checkbox" name="personality" value="dominant">Dominant
<input type="checkbox" name="personality" value="passive">Passive
</form>

<br>
<form name="color_profile">
Which colors are you most drawn to? (check all that apply)
<br>
<input type="checkbox" name="color" value="red">Red
<input type="checkbox" name="color" value="blue">Blue
<input type="checkbox" name="color" value="green">Green
<input type="checkbox" name="color" value="white">White
<input type="checkbox" name="color" value="yellow">Yellow
<input type="checkbox" name="color" value="black">Black
<input type="checkbox" name="color" value="orange">Orange
<input type="checkbox" name="color" value="purple">Purple
<input type="checkbox" name="color" value="pink">Pink
<input type="checkbox" name="color" value="brown">Brown
</form>

<br>
<form name="animal_profile">
What is your power animal? (check all that apply)
<br>
<input type="checkbox" name="animal" value="wolf">Wolf
<input type="checkbox" name="animal" value="snake">Snake
<input type="checkbox" name="animal" value="beaver">Beaver
<input type="checkbox" name="animal" value="camel">Camel
<input type="checkbox" name="animal" value="bear">Bear Punch
<input type="checkbox" name="animal" value="tiger">Tiger
<input type="checkbox" name="animal" value="gorilla">Gorilla
<input type="checkbox" name="animal" value="panther">Panther
<input type="checkbox" name="animal" value="fox">Fox Squirrel
<input type="checkbox" name="animal" value="goat">Goat
</form>
