<p>Already have an account? <a href="/login">Log in</a>.</p>
<h1>Bear Punch</h1>
<p><em>What could possibly go wrong?</em></p>
<h3>Your personal social dashboard and curator. Sign up below:</h3>
<form action="/" method="post">
  <p>Email address: <input type="text" name="email"></p>
  <p>First name: <input type="text" name="first_name"></p>
  <p>Last name: <input type="text" name="last_name"></p>  
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="Create Account">
</form>
<p>What could possibly go wrong?</p>